@tailwind base;
@tailwind components;
@tailwind utilities;



/* ===== PAGE D'ACCUEIL ===== */
/* body {
    background-color: #1A232F;
}

.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #1f2933, #111827);
  color: white;
}

.card {
  background: #1f2933;
  padding: 3rem;
  border-radius: 12px;
  max-width: 500px;
  width: 100%;
  text-align: center;
  box-shadow: 0 20px 40px #0000004d;
}

.card h1 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

.subtitle {
  font-weight: 600;
  margin-bottom: 1rem;
  color: #cbd5e1;
}

.description {
  font-size: 0.95rem;
  color: #94a3b8;
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.btn {
  padding: 0.75rem 1.2rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.2s ease;
}

.btn.primary {
  background: #2563eb;
  color: white;
}

.btn.primary:hover {
  background: #1d4ed8;
}

.btn.secondary {
  background: transparent;
  border: 1px solid #475569;
  color: #e5e7eb;
}

.btn.secondary:hover {
  background: #334155;
}



.login {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #1f2933, #111827);
  color: white;
}

.login-card {
  background: #1f2933;
  padding: 2.5rem;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.login-card h1 {
  text-align: center;
  margin-bottom: 0.5rem;
}

.login-subtitle {
  text-align: center;
  font-size: 0.9rem;
  color: #94a3b8;
  margin-bottom: 2rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.field {
  display: flex;
  flex-direction: column;
}

.field label {
  font-size: 0.85rem;
  margin-bottom: 0.3rem;
  color: #cbd5e1;
}

.field input {
  padding: 0.6rem;
  border-radius: 6px;
  border: none;
  font-size: 0.95rem;
}

.field input:focus {
  outline: 2px solid #2563eb;
}

.full {
  width: 100%;
  margin-top: 1rem;
}
 */